
<form role="form">

<script cam-script type="text/form-script">
var variableManager = camForm.variableManager;

inject(['$http', function($http) {

	$scope.consultarCNESPorCNPJ = function() {
		
		console.log('cnpj:', $scope.prestador);

		if ($scope.prestador.cnpj) {
			$http.get('http://localhost:8011/proxy/prestadores/cnpj/'+$scope.prestador.cnpj).then(
				function successCallback(response) {
    				console.log(JSON.stringify(response));

					$scope.prestador.id = response.data.id;
					$scope.prestador.codigoCnes = response.data.codigoCnes;
					$scope.prestador.codigoUnidade = response.data.codigoUnidade;
					$scope.prestador.nomeFantasia = response.data.nomeFantasia;
					$scope.prestador.nomeEmpresarial = response.data.nomeEmpresarial;
					
					$scope.prestador.endereco.logradouro = response.data.endereco.logradouro;
					$scope.prestador.endereco.numero = response.data.endereco.numero;
					$scope.prestador.endereco.bairro = response.data.endereco.bairro;
					$scope.prestador.endereco.cidade = response.data.endereco.cidade;
					$scope.prestador.endereco.cep = response.data.endereco.cep;
					$scope.prestador.endereco.uf = response.data.endereco.uf;
					
					$scope.prestador.dataAtualizacao = response.data.dtAtualizacao;
					$scope.prestador.email = response.data.email;

  				}, function errorCallback(response) {
    				console.log('Error:', response);
				}
			);
		}
  		
	}

	$scope.atualizarDados = function() {
		$scope.habilitaCampos = !$scope.habilitaCampos;
	}

	$scope.init = function() {
		$scope.habilitaCampos = false;
		$scope.prestador = { cnpj: "01963351000160", endereco: {} };

		$scope.$watch(
			"prestador.codigoCnes",
			function() {

				var valido = ($scope.prestador.codigoCnes != null);
				$scope.$$camForm.$setValidity('custom', valido, window);

			}
		);
	}


	camForm.on('form-loaded', function() {
		//variableManager.fetchVariable('cnpj');
		$scope.init();
		//variableManager.variable( 'cnpj' ).value = "01963351000160";

		console.log('form-loaded -> $scope:', $scope);
		console.log('form-loaded -> camForm:', camForm);
	});

	camForm.on( 'submit', function() {
		//variableManager.variable( 'cnpj' ).value = $scope.prestador.cnpj;

		$scope.prestador.dtAtualizacao = '2020-01-29T18:22:21';

		$http.post('http://localhost:8011/proxy/prestadores', $scope.prestador).then(
			function successCallback(response) {
    		
				console.log('Dados salvos com sucesso!');

  			}, function errorCallback(response) {
    			console.log('Error:', response);
			}
		);

	});

}]);

	
</script>

<div class="row">
	<div class="form-group col-xs-6">
		<label for="cnpj-field">CNPJ(somente números):</label>
		<div class="input-group">
			<input id="cnpj-field"
				type="number"
				cam-variable-name="cnpj" 
				cam-variable-type="String"
				ng-model="prestador.cnpj" 
				class="form-control"/>
			<span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="consultarCNESPorCNPJ()">CNES</button>
		    </span>
	    </div>
	</div>
</div>

<div ng-show="prestador.codigoCnes">
	<div class="row">
		<div class="col-xs-12">
			<div class="text-right">
				<button type="button" class="btn btn-secondary" ng-click="atualizarDados()">Atualizar Dados</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Código CNES:</label>
			<input ng-model="prestador.codigoCnes"
				disabled="disabled"
				class="form-control"/>
		</div>
		<div class="form-group col-xs-6">
			<label>Código Unidade:</label>
			<input ng-model="prestador.codigoUnidade"
				disabled="disabled"
				class="form-control"/>
		</div>
	</div>
		
	<div class="row">
		<div class="form-group col-xs-12">
			<label>Nome Fantasia:</label>
			<input ng-model="prestador.nomeFantasia"
				disabled="disabled"
				class="form-control"/>
		</div>
	</div>
		
	<div class="row">
		<div class="form-group col-xs-12">
			<label>Nome Empresarial:</label>
			<input ng-model="prestador.nomeEmpresarial"
				disabled="disabled"
				class="form-control"/>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-12">
			<label>Logradouro:</label>
			<input ng-model="prestador.endereco.logradouro"
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Número:</label>
			<input ng-model="prestador.endereco.numero"
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
		<div class="form-group col-xs-6">
			<label>Bairro:</label>
			<input ng-model="prestador.endereco.bairro"
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Cidade:</label>
			<input ng-model="prestador.endereco.cidade"
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
		<div class="form-group col-xs-6">
			<label>CEP:</label>
			<input ng-model="prestador.endereco.cep"
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>UF:</label>
			<select id="uf-field"
					name="uf"
					ng-model="prestador.endereco.uf"
					ng-disabled="!habilitaCampos"
					class="form-control">
				<option value="AC">AC</option>
				<option value="AL">AL</option>
				<option value="AM">AM</option>
				<option value="AP">AP</option>
				<option value="BA">BA</option>
				<option value="CE">CE</option>
				<option value="DF">DF</option>
				<option value="ES">ES</option>
				<option value="GO">GO</option>
				<option value="MA">MA</option>
				<option value="MG">MG</option>
				<option value="MS">MS</option>
				<option value="MT">MT</option>
				<option value="PA">PA</option>
				<option value="PB">PB</option>
				<option value="PE">PE</option>
				<option value="PI">PI</option>
				<option value="PR">PR</option>
				<option value="RJ">RJ</option>
				<option value="RN">RN</option>
				<option value="RO">RO</option>
				<option value="RR">RR</option>
				<option value="RS">RS</option>
				<option value="SC">SC</option>
				<option value="SE">SE</option>
				<option value="SP">SP</option>
				<option value="TO">TO</option>
			</select>
				
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Data Atualização:</label>
			<input ng-model="prestador.dataAtualizacao"
				disabled="disabled"
				class="form-control"/>
		</div>
		<div class="form-group col-xs-6">
			<label>E-mail:</label>
			<input ng-model="prestador.email" 
				ng-disabled="!habilitaCampos"
				class="form-control"/>
		</div>
	</div>

</div>

</form>