
<form role="form">

<script cam-script type="text/form-script">



inject(['$http', function($http) {

	$scope.limparCapitulosGruposSubgrupos = function() {
		$scope.capitulos = [];
		$scope.grupos = [];
		$scope.subgrupos = [];
	}

	$scope.limpar = function() {
		$scope.tabelas = [];
		$scope.capitulos = [];
		$scope.grupos = [];
		$scope.subgrupos = [];
		$scope.procedimentos = [];
		
		$scope.tabela = null;
		$scope.capitulo = null;
		$scope.grupo = null;
    	$scope.subgrupo = null;
    	$scope.procedimento = null;

		$scope.buscarTabelas();
	}

	$scope.init = function() {
		$scope.buscarTabelas();
	}

	$scope.buscarTabelas = function() {

		$http.get('http://localhost:8011/proxy/cbhpm/tabelas').then(
			function successCallback(response) {
				$scope.tabelas = response.data;

			}, function errorCallback(response) {
    			console.log('Error:', response);
			}
		);

	}

	$scope.buscarCapitulosPorTabela = function() {

		if (!$scope.tabela) {
			$scope.limparCapitulosGruposSubgrupos();
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/capitulos/tabela/'+$scope.tabela.id).then(
			function successCallback(response) {
				$scope.capitulos = response.data;

			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarGruposPorCapitulo = function() {

		if (!$scope.capitulo) {
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/grupos/capitulo/'+$scope.capitulo.id).then(
			function successCallback(response) {
				$scope.grupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarSubgruposPorGrupo = function() {

		if (!$scope.grupo) {
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/subgrupos/grupo/'+$scope.grupo.id).then(
			function successCallback(response) {
				$scope.subgrupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarProcedimentos = function() {

		var filtro = {
			"tabelaId": ($scope.tabela ? $scope.tabela.id : 0),
			"capituloId": ($scope.capitulo ? $scope.capitulo.id : 0),
			"grupoId": ($scope.grupo ? $scope.grupo.id : 0),
    		"subGrupoId": ($scope.subgrupo ? $scope.subgrupo.id : 0),
    		"procedimentoDescricao": $scope.procedimento
		};

		console.log('Filtro para Procedimentos: ', filtro);

		$http.post('http://localhost:8011/proxy/cbhpm/procedimentos/search', filtro).then(
			function successCallback(response) {
				$scope.procedimentos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.incluirProcedimentos = function() {
		
		if (!$scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados = [];
		}
		
		$scope.procedimentos.forEach(proc => {
			if (proc.selecionado) {
				console.log('Procedimento selecionado: ', proc);
				var idx = $scope.procedimentosSelecionados.findIndex(procIdx => procIdx.id == proc.id);
				if (idx == -1) {
					$scope.procedimentosSelecionados.push(proc);
					proc.selecionado = false;
				}
			}
		});

		$scope.selecionadoTodos = false;
		
	}

	$scope.marcarProcedimentosTodos = function() {

		if ($scope.procedimentos) {
			$scope.procedimentos.forEach(proc => {
				proc.selecionado = $scope.procedimentosTodos;
			});
		}
	}

	$scope.marcarProcedimentosSelecionadosTodos = function() {

		if ($scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados.forEach(proc => {
				proc.selecionado = $scope.procedimentosSelecionadosTodos;
			});
		}
	
	}

	$scope.excluirProcedimentos = function() {
		var lista = [];
		if ($scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados.forEach(proc => {
				if (!proc.selecionado) {
					lista.push(proc);
				}
			});
			$scope.procedimentosSelecionados = lista;
		}

	}




}]);


camForm.on('form-loaded', function() {
	console.log('form-loaded');
	//$scope.limpar();
	$scope.init();
});

camForm.on( 'submit', function() {
	//variableManager.variable( 'codigoCNES' ).value = $scope.codigoCNES;
});
	
</script>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Tabela:</label>
			<select id="tabela-field"
					name="tabela"
					ng-change="buscarCapitulosPorTabela()"
					ng-model="tabela"
					ng-options="tab.descricao for tab in tabelas track by tab.id"
					class="form-control">
				<option value="">--- SELECIONE ---</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Capítulo:</label>
			<select id="capitulo-field" 
					name="capitulo"
					ng-change="buscarGruposPorCapitulo()"
      				ng-model="capitulo"
      				ng-options="cap.descricao for cap in capitulos track by cap.id"
      				class="form-control">
      			<option value="">--- SELECIONE ---</option>
      		</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Grupo:</label>
			<select id="grupo-field" 
					name="grupo"
					ng-change="buscarSubgruposPorGrupo()"
      				ng-model="grupo"
      				ng-options="gru.descricao for gru in grupos track by gru.id"
      				class="form-control">
      			<option value="">--- SELECIONE ---</option>
      		</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Subgrupo:</label>
			<select id="subgrupo-field" 
					name="subgrupo"
					ng-change="buscarSubgruposPorGrupo()"
      				ng-model="subgrupo"
      				ng-options="subG.descricao for subG in subgrupos track by subG.id"
      				class="form-control">
      			<option value="">--- SELECIONE ---</option>
      		</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label for="procedimento-field">Procedimento:</label>
			<input ng-model="procedimento" 
					class="form-control"/>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<button ng-click="buscarProcedimentos()">Consultar</button>
			<button ng-click="limpar()">Limpar</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Procedimentos Disponíveis</h3>
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							<input type="checkbox"
						       ng-model="procedimentosTodos"
						       ng-change="marcarProcedimentosTodos()">
						</td>
						<td><label>Código</label></td>
						<td><label>Código Extendido</label></td>
						<td><label>Procedimento</label></td>
						<td><label>Porte</label></td>
						<td><label>UCO</label></td>
						<td><label>Porte Anest</label></td>
						<td><label>Número Auxiliares</label></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proc in procedimentos">
						<td width="1%">
							<input type="checkbox"
								ng-model="proc.selecionado">
						</td>
						<td width="10%">{{ proc.codigo }}</td>
						<td width="10%">{{ proc.codigoExtendido }}</td>
						<td width="39%">{{ proc.descricao }}</td>
						<td width="10%">{{ proc.porte }}</td>
						<td width="10%">{{ proc.uco }}</td>
						<td width="10%">{{ proc.porteAnest }}</td>
						<td width="10%">{{ proc.numAuxiliares }}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<button ng-click="incluirProcedimentos()">Incluir Procedimentos Selecionados</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Procedimentos Selecionados</h3>
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							<input type="checkbox"
						       ng-model="procedimentosSelecionadosTodos"
						       ng-change="marcarProcedimentosSelecionadosTodos()">
						</td>
						<td><label>Código</label></td>
						<td><label>Código Extendido</label></td>
						<td><label>Procedimento</label></td>
						<td><label>Porte</label></td>
						<td><label>UCO</label></td>
						<td><label>Porte Anest</label></td>
						<td><label>Número Auxiliares</label></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proc in procedimentosSelecionados">
						<td width="1%">
							<input type="checkbox"
								ng-model="proc.selecionado">
						</td>
						<td width="10%">{{ proc.codigo }}</td>
						<td width="10%">{{ proc.codigoExtendido }}</td>
						<td width="39%">{{ proc.descricao }}</td>
						<td width="10%">{{ proc.porte }}</td>
						<td width="10%">{{ proc.uco }}</td>
						<td width="10%">{{ proc.porteAnest }}</td>
						<td width="10%">{{ proc.numAuxiliares }}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<button ng-click="excluirProcedimentos()">Excluir Procedimentos</button>
		</div>
	</div>
	
	
	
</form>