
<form role="form">

<script cam-script type="text/form-script">



inject(['$http', function($http) {

	$scope.limparCampos = function() {
		$scope.capitulos = [];
		$scope.grupos = [];
		$scope.subgrupos = [];
	}

	$scope.buscarTabelas = function() {

		$http.get('http://localhost:8011/proxy/cbhpm/tabelas').then(
			function successCallback(response) {
				$scope.tabelas = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarCapitulosPorTabela = function() {

		if ($scope.tabela == 0) {
			$scope.limparCampos();
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/capitulos/tabela/'+$scope.tabela).then(
			function successCallback(response) {
				$scope.capitulos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarGruposPorCapitulo = function() {

		$http.get('http://localhost:8011/proxy/cbhpm/grupos/capitulo/'+$scope.capitulo).then(
			function successCallback(response) {
				$scope.grupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarSubgruposPorGrupo = function() {

		$http.get('http://localhost:8011/proxy/cbhpm/subgrupos/grupo/'+$scope.grupo).then(
			function successCallback(response) {
				$scope.subgrupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarProcedimentos = function() {

		var filtro = {
			"tabelaId": $scope.tabela,
			"capituloId": $scope.capitulo,
			"grupoId": $scope.grupo,
    		"subGrupoId": $scope.subgrupo,
    		"procedimentoDescricao": $scope.procedimento
		};

		console.log('Filtro para Procedimentos: ', filtro);

		$http.post('http://localhost:8011/proxy/cbhpm/procedimentos/search', filtro).then(
			function successCallback(response) {
				$scope.procedimentos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.incluirProcedimentos = function() {
		
		if (!$scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados = [];
		}
		
		$scope.procedimentos.forEach(proc => {
			console.log('Procedimento selecionado: ', proc);
			if (proc.selecionado) {
				$scope.procedimentosSelecionados.push(proc);
			}
		});
		
	}


}]);


camForm.on('form-loaded', function() {
	$scope.buscarTabelas();
	console.log('form-loaded', $scope);
});

camForm.on( 'submit', function() {
	//variableManager.variable( 'codigoCNES' ).value = $scope.codigoCNES;
});
	
</script>

	<div class="row">
		<div class="form-group col-xs-6">
			<label>Tabela:</label>
			<select id="tabela-field"
					name="tabela"
					cam-variable-name="tabela"
					cam-variable-type="Integer"
					ng-change="buscarCapitulosPorTabela()"
					class="form-control">
				<option value="0">SELECIONE</option>
				<option ng-repeat="tab in tabelas" value="{{ tab.id }}">{{ tab.descricao }}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Capítulo:</label>
			<select id="capitulo-field"
					name="capitulo"
					cam-variable-name="capitulo"
					cam-variable-type="Integer"
					ng-change="buscarGruposPorCapitulo()" 
					class="form-control">
				<option value="0">SELECIONE</option>
				<option ng-repeat="cap in capitulos" value="{{ cap.id }}">{{ cap.descricao }}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Grupo:</label>
			<select id="grupo-field"
					name="grupo"
					cam-variable-name="grupo"
					cam-variable-type="Integer"
					ng-change="buscarSubgruposPorGrupo()" 
					class="form-control">
				<option value="0">SELECIONE</option>
				<option ng-repeat="gru in grupos" value="{{ gru.id }}">{{ gru.descricao }}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label>Subgrupo:</label>
			<select id="subgrupo-field"
					name="subgrupo"
					cam-variable-name="subgrupo"
					cam-variable-type="Integer"
					class="form-control">
				<option value="0">SELECIONE</option>
				<option ng-repeat="subG in subgrupos" value="{{ subG.id }}">{{ subG.descricao }}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<label for="procedimento-field">Procedimento:</label>
			<input cam-variable-name="procedimento" 
					cam-variable-type="String" 
					class="form-control"/>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<button ng-click="buscarProcedimentos()">Consultar</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Procedimentos Disponíveis</h3>
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							<input type="checkbox"
						       ng-model="selecionarTodos">
						</td>
						<td><label>Código</label></td>
						<td><label>Código Extendido</label></td>
						<td><label>Procedimento</label></td>
						<td><label>Porte</label></td>
						<td><label>UCO</label></td>
						<td><label>Porte Anest</label></td>
						<td><label>Número Auxiliares</label></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proc in procedimentos">
						<td width="1%">
							<input type="checkbox"
								ng-model="selecionado">
						</td>
						<td width="10%">{{ proc.codigo }}</td>
						<td width="10%">{{ proc.codigoExtendido }}</td>
						<td width="39%">{{ proc.descricao }}</td>
						<td width="10%">{{ proc.porte }}</td>
						<td width="10%">{{ proc.uco }}</td>
						<td width="10%">{{ proc.porteAnest }}</td>
						<td width="10%">{{ proc.numAuxiliares }}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-6">
			<button ng-click="incluirProcedimentos()">Incluir Procedimentos Selecionados</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Procedimentos Selecionados</h3>
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td><label>Código</label></td>
						<td><label>Código Extendido</label></td>
						<td><label>Procedimento</label></td>
						<td><label>Porte</label></td>
						<td><label>UCO</label></td>
						<td><label>Porte Anest</label></td>
						<td><label>Número Auxiliares</label></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proc in procedimentosSelecionados">
						<td>Código</td>
						<td>Código Extendido</td>
						<td>Procedimento</td>
						<td>Porte</td>
						<td>UCO</td>
						<td>Porte Aneste</td>
						<td>Número ...</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
</form>