
<form role="form">

<script cam-script type="text/form-script">
var variableManager = camForm.variableManager;

inject(['$http', function($http) {

	$scope.consultarCNESPorCNPJ = function() {
		
		console.log('cnpj:', $scope.prestador);

		if ($scope.prestador.cnpj) {
			//$http.get('https://cnes-api.cfapps.io/cnes/estabelecimento/cnpj/'+$scope.prestador.cnpj,
			$http.get('http://localhost:8010/proxy/'+$scope.prestador.cnpj).then(
				function successCallback(response) {
    				console.log(JSON.stringify(response));

					$scope.prestador.id = response.data.id;
					$scope.prestador.codigoCnes = response.data.codigoCNES.codigo;
					$scope.prestador.codigoUnidade = response.data.codigoUnidade.codigo;
					$scope.prestador.nomeFantasia = response.data.nomeFantasia.nome;
					$scope.prestador.nomeEmpresarial = response.data.nomeEmpresarial.nome;
					
					$scope.prestador.endereco.logradouro = response.data.endereco.nomeLogradouro;
					$scope.prestador.endereco.numero = response.data.endereco.numero;
					$scope.prestador.endereco.bairro = response.data.endereco.bairro.descricaoBairro;
					$scope.prestador.endereco.cidade = response.data.endereco.municipio.nomeMunicipio;
					$scope.prestador.endereco.cep = response.data.endereco.cep.numeroCEP;
					$scope.prestador.endereco.uf = response.data.endereco.municipio.uf.siglaUF;
					
					$scope.prestador.dataAtualizacao = response.data.dataAtualizacao;
					$scope.prestador.email = response.data.email;

  				}, function errorCallback(response) {
    				console.log('Error:', response);
				}
			);
		}
  		
	}

	$scope.atualizarDados = function() {
		$scope.habilitaCampos = !$scope.habilitaCampos;
	}

	$scope.limparCapitulosGruposSubgrupos = function() {
		$scope.capitulos = [];
		$scope.grupos = [];
		$scope.subgrupos = [];
	}

	$scope.limpar = function() {
		$scope.tabelas = [];
		$scope.capitulos = [];
		$scope.grupos = [];
		$scope.subgrupos = [];
		$scope.procedimentos = [];
		
		$scope.filtro = {};
		/*
		$scope.tabela = null;
		$scope.capitulo = null;
		$scope.grupo = null;
    	$scope.subgrupo = null;
    	$scope.procedimento = null;
		*/

		$scope.buscarTabelas();
	}

	$scope.buscarTabelas = function() {

		$http.get('http://localhost:8011/proxy/cbhpm/tabelas').then(
			function successCallback(response) {
				$scope.tabelas = response.data;

			}, function errorCallback(response) {
    			console.log('Error:', response);
			}
		);

	}

	$scope.buscarCapitulosPorTabela = function() {

		if (!$scope.filtro.tabela) {
			$scope.limparCapitulosGruposSubgrupos();
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/capitulos/tabela/'+$scope.filtro.tabela.id).then(
			function successCallback(response) {
				$scope.capitulos = response.data;

			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarGruposPorCapitulo = function() {

		if (!$scope.filtro.capitulo) {
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/grupos/capitulo/'+$scope.filtro.capitulo.id).then(
			function successCallback(response) {
				$scope.grupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarSubgruposPorGrupo = function() {

		if (!$scope.filtro.grupo) {
			return;
		}

		$http.get('http://localhost:8011/proxy/cbhpm/subgrupos/grupo/'+$scope.filtro.grupo.id).then(
			function successCallback(response) {
				$scope.subgrupos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.buscarProcedimentos = function() {

		var filtro = {
			"tabelaId": ($scope.filtro.tabela ? $scope.filtro.tabela.id : 0),
			"capituloId": ($scope.filtro.capitulo ? $scope.filtro.capitulo.id : 0),
			"grupoId": ($scope.filtro.grupo ? $scope.filtro.grupo.id : 0),
    		"subGrupoId": ($scope.filtro.subgrupo ? $scope.filtro.subgrupo.id : 0),
    		"procedimentoDescricao": $scope.filtro.procedimento
		};

		console.log('Filtro para Procedimentos: ', filtro);

		$http.post('http://localhost:8011/proxy/cbhpm/procedimentos/search', filtro).then(
			function successCallback(response) {
				$scope.procedimentos = response.data;
  			
			}, function errorCallback(response) {
    			console.log('Error:', response);

			}
		);

	}

	$scope.clone = function(obj) {
		return JSON.parse(JSON.stringify(obj));
	}

	$scope.incluirProcedimentos = function() {
		
		if (!$scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados = [];
		}
		
		$scope.procedimentos.forEach(proc => {
			if (proc.selecionado) {
				proc.selecionado = false;
				console.log('Procedimento selecionado: ', proc);
				var idx = $scope.procedimentosSelecionados.findIndex(procIdx => procIdx.id == proc.id);
				if (idx == -1) {
					$scope.procedimentosSelecionados.push($scope.clone(proc));
				}
			}
		});

		$scope.objTela.procedimentosTodos = false;
		
	}

	$scope.marcarProcedimentosTodos = function() {

		if ($scope.procedimentos) {
			$scope.procedimentos.forEach(proc => {
				proc.selecionado = $scope.objTela.procedimentosTodos;
			});
		}
	}

	$scope.marcarProcedimentosSelecionadosTodos = function() {

		if ($scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados.forEach(proc => {
				proc.selecionado = $scope.objTela.procedimentosSelecionadosTodos;
			});
		}
	
	}

	$scope.excluirProcedimentos = function() {
		var lista = [];
		if ($scope.procedimentosSelecionados) {
			$scope.procedimentosSelecionados.forEach(proc => {
				if (!proc.selecionado) {
					lista.push(proc);
				}
			});
			$scope.procedimentosSelecionados = lista;
		}

	}

	$scope.initPrestador = function() {
		$scope.habilitaCampos = false;
		$scope.prestador = { cnpj: "01963351000160", endereco: {} };

		$scope.$watchCollection(
			"procedimentosSelecionados",
			function( newValue, oldValue ) {

				var valido = ($scope.procedimentosSelecionados && $scope.procedimentosSelecionados.length > 0)
				$scope.$$camForm.$setValidity('custom', valido, window);

			}
		);
	}

	$scope.initPropostaServico = function() {
		$scope.filtro = { };
		$scope.objTela = { };
		$scope.buscarTabelas();
	}

	camForm.on('form-loaded', function() {
		variableManager.fetchVariable('cnpj');
		$scope.initPrestador();
		$scope.initPropostaServico();

		console.log('form-loaded -> $scope:', $scope);
		console.log('form-loaded -> camForm:', camForm);
	});

	camForm.on( 'submit', function() {
		variableManager.variable( 'cnpj' ).value = $scope.prestador.cnpj;

		// salva os dados negociais..
		$scope.prestador.procedimentosId = $scope.procedimentosSelecionados.map(x => x.id);

		console.log('[submit] - Prestador: ', $scope.prestador);

		$http.post('http://localhost:8010/proxy/...', $scope.prestador).then(
			function successCallback(response) {
    		
				alert('Dados salvos com sucesso!');

  			}, function errorCallback(response) {
    			console.log('Error:', response);
			}
		);

	});

}]);


	

	
</script>

<wizard indicators-position="top" on-finish="finishedWizard()" on-cancel="cancelledWizard()"> 
    <wz-step wz-title="Prestador" wz-data="prestador">

       	<div class="row">
			<div class="form-group col-xs-6">
				<label for="cnpj-field">CNPJ:</label>
				<div class="input-group">
					<input id="cnpj-field"
						cam-variable-name="cnpj" 
						cam-variable-type="String"
						ng-model="prestador.cnpj" 
						class="form-control"/>
					<span class="input-group-btn">
				        <button type="button" class="btn btn-default" ng-click="consultarCNESPorCNPJ()">CNES</button>
				    </span>
			    </div>
			</div>
		</div>

        <div ng-show="prestador.codigoCnes">
			<div class="row">
				<div class="col-xs-12">
					<div class="text-right">
						<button type="button" class="btn btn-secondary" ng-click="atualizarDados()">Atualizar Dados</button>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Código CNES:</label>
					<input cam-variable-name="codigoCnes" 
						cam-variable-type="String" 
						ng-model="prestador.codigoCnes"
						disabled="disabled"
						class="form-control"/>
				</div>
				<div class="form-group col-xs-6">
					<label>Código Unidade:</label>
					<input cam-variable-name="codigoUnidade" 
						cam-variable-type="String" 
						ng-model="prestador.codigoUnidade"
						disabled="disabled"
						class="form-control"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-xs-12">
					<label>Nome Fantasia:</label>
					<input cam-variable-name="nomeFantasia" 
						cam-variable-type="String" 
						ng-model="prestador.nomeFantasia"
						disabled="disabled"
						class="form-control"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-xs-12">
					<label>Nome Empresarial:</label>
					<input cam-variable-name="nomeEmpresarial" 
						cam-variable-type="String" 
						ng-model="prestador.nomeEmpresarial"
						disabled="disabled"
						class="form-control"/>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-12">
					<label>Logradouro:</label>
					<input ng-model="prestador.endereco.logradouro"
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Número:</label>
					<input cam-variable-name="numero" 
						cam-variable-type="String" 
						ng-model="prestador.endereco.numero"
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
				<div class="form-group col-xs-6">
					<label>Bairro:</label>
					<input cam-variable-name="bairro" 
						cam-variable-type="String" 
						ng-model="prestador.endereco.bairro"
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Cidade:</label>
					<input cam-variable-name="cidade" 
						cam-variable-type="String" 
						ng-model="prestador.endereco.cidade"
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
				<div class="form-group col-xs-6">
					<label>CEP:</label>
					<input cam-variable-name="cep" 
						cam-variable-type="String" 
						ng-model="prestador.endereco.cep"
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-6">
					<label>UF:</label>
					<select id="uf-field"
							name="uf"
							cam-variable-name="uf"
							cam-variable-type="String"
							ng-model="prestador.endereco.uf"
							ng-disabled="!habilitaCampos"
							class="form-control">
						<option value="AC">AC</option>
						<option value="AL">AL</option>
						<option value="AM">AM</option>
						<option value="AP">AP</option>
						<option value="BA">BA</option>
						<option value="CE">CE</option>
						<option value="DF">DF</option>
						<option value="ES">ES</option>
						<option value="GO">GO</option>
						<option value="MA">MA</option>
						<option value="MG">MG</option>
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="PA">PA</option>
						<option value="PB">PB</option>
						<option value="PE">PE</option>
						<option value="PI">PI</option>
						<option value="PR">PR</option>
						<option value="RJ">RJ</option>
						<option value="RN">RN</option>
						<option value="RO">RO</option>
						<option value="RR">RR</option>
						<option value="RS">RS</option>
						<option value="SC">SC</option>
						<option value="SE">SE</option>
						<option value="SP">SP</option>
						<option value="TO">TO</option>
					</select>
						
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-6">
					<label>Data Atualização:</label>
					<input cam-variable-name="dataAtualizacao" 
						cam-variable-type="String"
						ng-model="prestador.dataAtualizacao"
						disabled="disabled"
						class="form-control"/>
				</div>
				<div class="form-group col-xs-6">
					<label>E-mail:</label>
					<input cam-variable-name="email" 
						cam-variable-type="String"
						ng-model="prestador.email" 
						ng-disabled="!habilitaCampos"
						class="form-control"/>
				</div>
			</div>
	
			<div class="row">
				<div class="form-group col-xs-12">
			        <input type="submit" wz-next value="Próximo >>" />
				</div>
			</div>
		</div>
        
    </wz-step>
    <wz-step wz-title="Proposta de serviço">
        
	    <div class="row">
			<div class="form-group col-xs-6">
				<label>Tabela:</label>
				<select id="tabela-field"
						name="tabela"
						ng-change="buscarCapitulosPorTabela()"
						ng-model="filtro.tabela"
						ng-options="tab.descricao for tab in tabelas track by tab.id"
						class="form-control">
					<option value="">--- SELECIONE ---</option>
				</select>
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<label>Capítulo:</label>
				<select id="capitulo-field" 
						name="capitulo"
						ng-change="buscarGruposPorCapitulo()"
	      				ng-model="filtro.capitulo"
	      				ng-options="cap.descricao for cap in capitulos track by cap.id"
	      				class="form-control">
	      			<option value="">--- SELECIONE ---</option>
	      		</select>
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<label>Grupo:</label>
				<select id="grupo-field" 
						name="grupo"
						ng-change="buscarSubgruposPorGrupo()"
	      				ng-model="filtro.grupo"
	      				ng-options="gru.descricao for gru in grupos track by gru.id"
	      				class="form-control">
	      			<option value="">--- SELECIONE ---</option>
	      		</select>
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<label>Subgrupo:</label>
				<select id="subgrupo-field" 
						name="subgrupo"
						ng-change="buscarSubgruposPorGrupo()"
	      				ng-model="filtro.subgrupo"
	      				ng-options="subG.descricao for subG in subgrupos track by subG.id"
	      				class="form-control">
	      			<option value="">--- SELECIONE ---</option>
	      		</select>
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<label for="procedimento-field">Procedimento:</label>
				<input ng-model="filtro.procedimento" 
						class="form-control"/>
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<button ng-click="buscarProcedimentos()">Consultar</button>
				<button ng-click="limpar()">Limpar</button>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<h3>Procedimentos Disponíveis</h3>
				<hr>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<td>
								<input type="checkbox"
							       ng-model="objTela.procedimentosTodos"
							       ng-change="marcarProcedimentosTodos()">
							</td>
							<td><label>Código</label></td>
							<td><label>Código Extendido</label></td>
							<td><label>Procedimento</label></td>
							<td><label>Porte</label></td>
							<td><label>UCO</label></td>
							<td><label>Porte Anest</label></td>
							<td><label>Número Auxiliares</label></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="proc in procedimentos">
							<td width="1%">
								<input type="checkbox"
									ng-model="proc.selecionado">
							</td>
							<td width="10%">{{ proc.codigo }}</td>
							<td width="10%">{{ proc.codigoExtendido }}</td>
							<td width="39%">{{ proc.descricao }}</td>
							<td width="10%">{{ proc.porte }}</td>
							<td width="10%">{{ proc.uco }}</td>
							<td width="10%">{{ proc.porteAnest }}</td>
							<td width="10%">{{ proc.numAuxiliares }}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<button ng-click="incluirProcedimentos()">Incluir Procedimentos Selecionados</button>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<h3>Procedimentos Selecionados</h3>
				<hr>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<td>
								<input type="checkbox"
							       ng-model="objTela.procedimentosSelecionadosTodos"
							       ng-change="marcarProcedimentosSelecionadosTodos()">
							</td>
							<td><label>Código</label></td>
							<td><label>Código Extendido</label></td>
							<td><label>Procedimento</label></td>
							<td><label>Porte</label></td>
							<td><label>UCO</label></td>
							<td><label>Porte Anest</label></td>
							<td><label>Número Auxiliares</label></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="proc in procedimentosSelecionados">
							<td width="1%">
								<input type="checkbox"
									ng-model="proc.selecionado">
							</td>
							<td width="10%">{{ proc.codigo }}</td>
							<td width="10%">{{ proc.codigoExtendido }}</td>
							<td width="39%">{{ proc.descricao }}</td>
							<td width="10%">{{ proc.porte }}</td>
							<td width="10%">{{ proc.uco }}</td>
							<td width="10%">{{ proc.porteAnest }}</td>
							<td width="10%">{{ proc.numAuxiliares }}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<button ng-click="excluirProcedimentos()">Excluir Procedimentos</button>
			</div>
		</div>
        
		<div class="row">
			<div class="form-group col-xs-12">
				<input type="submit" wz-previous value="<< Voltar" />
			</div>
		</div>
        
        
    </wz-step>
</wizard>
	
</form>