
<form role="form">

<script cam-script type="text/form-script">

inject([ '$scope', '$http', function($scope, $http) {
      camForm.on('form-loaded', function() {
        // use injected $http service for making requests
      });

$scope.consultarCNESPorCNPJ = function() {
		
	console.log('cnpj:', $scope.cpfCnpj);
	//$http.get('https://cnes-api.cfapps.io/cnes/estabelecimento/cnpj/'+$scope.cpfCnpj,
	$http.get('http://localhost:8010/proxy/'+$scope.cpfCnpj, 
		{
    		headers: {
				'Access-Control-Allow-Origin' : '*',
				'Access-Control-Allow-Methods' : 'DELETE, POST, GET, OPTIONS',
				'Access-Control-Allow-Headers' : 'Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With'
			}
		}
	).
  		then(function successCallback(response) {
    		console.log(JSON.stringify(response));
			$scope.empresa = response.data.nomeEmpresarial.nome;
			$scope.nomeFantasia = response.data.nomeFantasia.nome;


  		}, function errorCallback(response) {
    		console.log(response);
		});
  		
	}

    }]);

	

	
</script>

	<div class="row">
		<div class="form-group col-xs-6">
			<label for="cpfCnpj-field">CNPJ:</label>
			 <div class="input-group">
				<input id="cpfCnpj-field"
					cam-variable-name="cpfCnpj" 
					cam-variable-type="String" 
					class="form-control"/>
				<span class="input-group-btn">
			        <button class="btn btn-default" ng-click="consultarCNESPorCNPJ()" type="button">CNES</button>
			    </span>
		    </div>
		</div>
	</div>
	
	<div ng-if="empresa">
		<div class="row">
			<div class="form-group col-xs-6">
				<label>Empresa:</label>
				 <div class="input-group">
					<input readonly
						cam-variable-name="empresa" 
						cam-variable-type="String" 
						class="form-control"/>
			    </div>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-xs-6">
				<label>Nome Fantasia:</label>
				 <div class="input-group">
					<input readonly
						cam-variable-name="nomeFantasia" 
						cam-variable-type="String" 
						class="form-control"/>
			    </div>
			</div>
		</div>
	</div>
	
</form>